<canvas id="hangman-game" width="400" height="500"></canvas>

<div class="board">
  <div class="hangman-word"> </div>
  <div class="definition"></div>

  <div class="console">
    <input type="hidden" class="token"> </input>
    <input type="text" maxlength=1 class="letter"> </input>
    <button id="guess">Guess</button>
    <br/>
    <br/>
    <a id="hint">Help me, I'm stuck!</a>
  </div>
  <div class="attempts"></div>
  <button id="new-game">Start a new game</button>
</div>
