<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Hangman</title>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
    <footer>
    <div id="content">
      <a href="http://github.com/despo/hangman">hangman</a> by despo <span class="divider"> - </span><a href="/api">api</a>
    </div>
    </footer>
    <script type="text/javascript" src="analytics.js"></script>
  </body>
</html>
